@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap");
* {
  font-family: "Lato", sans-serif;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1020px;
  min-width: 1020px;
  margin: 0 auto;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 95px;
  background-color: #2d303a;
  -webkit-box-shadow: 0px -6px 0px 0px #323746 inset;
          box-shadow: 0px -6px 0px 0px #323746 inset;
}

.header_nav {
  margin-top: 4px;
}

.heading {
  visibility: hidden;
  font-size: 0px;
}

.logotype {
  font-size: 25px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  margin-left: 39px;
  margin-bottom: 8px;
  letter-spacing: -0.3px;
}

.logotype--object {
  color: #f06c64;
}

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.navigation__item {
  margin-right: 15px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: -0.2px;
}

.navigation__item a {
  color: #ffffff;
  text-decoration: none;
}

.navigation__item a:hover {
  color: #f06c64;
}

.navigation__item:not(:first-child)::before {
  content: "·";
  color: #494e62;
  margin-right: 12px;
}

.navigation__item:last-child {
  margin-right: 39px;
}

.main {
  width: 100%;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 600px;
  background-color: #f06c64;
  -webkit-box-shadow: 0px -6px 0px 0px #ea676b inset;
          box-shadow: 0px -6px 0px 0px #ea676b inset;
}

.slider__arrow-right {
  margin-right: 40px;
  margin-bottom: 10px;
}

.slider__arrow-left {
  margin-left: 42px;
  margin-bottom: 10px;
}

.arrow-left {
  width: 16px;
  height: 27px;
  background-image: url("assets/img/arrow.png");
  cursor: pointer;
}

.arrow-left:hover {
  opacity: 0.7;
}

.arrow-rigth {
  background-image: url("assets/img/arrow.png");
  width: 16px;
  height: 27px;
  -webkit-transform: scale(-1, 1);
          transform: scale(-1, 1);
  cursor: pointer;
}

.arrow-rigth:hover {
  opacity: 0.7;
}

.phone-vertical {
  position: relative;
  width: 240px;
  height: 482px;
  bottom: 6px;
  right: 7px;
}

.phone-vertical::before {
  content: "";
  position: absolute;
  width: 240px;
  height: 482px;
  background-image: url("assets/img/img_vertical.jpg"), url("assets/img/phone.png"), url("assets/img/shadow_phone.png");
  background-position: 11px 62px, top left, top left;
  background-repeat: no-repeat;
}

.phone-horizontal {
  position: relative;
  height: 240px;
  width: 482px;
  bottom: 127px;
  left: 101px;
}

.phone-horizontal__shadow {
  position: absolute;
  width: 240px;
  height: 482px;
  top: 0px;
  right: 216px;
  background-image: url("assets/img/shadow_phone.png");
  -webkit-transform: scale(-1, 1) rotate(270deg);
          transform: scale(-1, 1) rotate(270deg);
}

.phone-horizontal__phone {
  position: absolute;
  width: 240px;
  height: 482px;
  background-image: url("assets/img/phone.png");
  background-repeat: no-repeat;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.phone-horizontal__phone::after {
  content: "";
  position: absolute;
  width: 339px;
  height: 194px;
  top: 134px;
  right: -37px;
  background-image: url("assets/img/img_horizontal.jpg");
  background-position: 0px 0px;
  background-repeat: no-repeat;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.our-services {
  background-color: #f2f2f2;
  padding-top: 59px;
  padding-bottom: 30px;
  -webkit-box-shadow: 0px -6px 0px 0px #ffffff inset;
          box-shadow: 0px -6px 0px 0px #ffffff inset;
}

.our-services__wrapper {
  margin: 0px 30px 0px 40px;
  overflow: hidden;
}

.servises-description__heading {
  font-size: 30px;
  font-weight: 900;
  color: #666d89;
  letter-spacing: -0.1px;
}

.servises-description__text {
  font-size: 18px;
  line-height: 30px;
  margin-top: 18px;
  letter-spacing: -0.2px;
  color: #767e9e;
}

.our-services__features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin: 47px 40px 0px 40px;
}

.feature-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 31px;
}

.featur-item__icon {
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
}

.feature-item:nth-child(1) > .featur-item__icon {
  background-image: url("assets/img/pen.png");
}

.feature-item:nth-child(2) > .featur-item__icon {
  background-image: url("assets/img/bulb.png");
}

.feature-item:nth-child(3) > .featur-item__icon {
  background-image: url("assets/img/heart.png");
}

.feature-item:nth-child(4) > .featur-item__icon {
  background-image: url("assets/img/phone_feature.png");
}

.feature-item:nth-child(5) > .featur-item__icon {
  background-image: url("assets/img/bubble.png");
}

.feature-item:nth-child(6) > .featur-item__icon {
  background-image: url("assets/img/star.png");
}

.feature-item__text {
  width: 220px;
  margin-left: 20px;
  margin-right: 20px;
  overflow: hidden;
}

.feature-item__caption {
  font-size: 18px;
  font-weight: 900;
  color: #666d89;
  line-height: 12px;
  letter-spacing: -0.1px;
  padding-top: 1px;
}

.feature-item__description {
  font-size: 12px;
  color: #767e9e;
  margin-top: 13px;
  line-height: 22px;
}
/*# sourceMappingURL=singolo1.css.map */