@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap");
* {
  font-family: "Lato", sans-serif;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1020px;
  margin: 0 auto;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 94px;
  background-color: #2d303a;
}

.heading {
  visibility: hidden;
  font-size: 0px;
}

.logotype {
  font-size: 25px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  margin-left: 39px;
}

.logotype--object {
  color: #f06c64;
}

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.navigation__item {
  margin-right: 15px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
}

.navigation__item a {
  color: #ffffff;
  text-decoration: none;
}

.navigation__item a:hover {
  color: #f06c64;
}

.navigation__item:not(:first-child)::before {
  content: "·";
  color: #494e62;
  margin-right: 15px;
}

.navigation__item:last-child {
  margin-right: 30px;
}

.main {
  width: 100%;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 600px;
  background-color: #f06c64;
}

.arrow-left {
  width: 16px;
  height: 27px;
  background-image: url("/assets/img/arrow.png");
  cursor: pointer;
}

.arrow-left:hover {
  opacity: 0.7;
}

.arrow-rigth {
  background-image: url("/assets/img/arrow.png");
  width: 16px;
  height: 27px;
  -webkit-transform: scale(-1, 1);
          transform: scale(-1, 1);
  cursor: pointer;
}

.arrow-rigth:hover {
  opacity: 0.7;
}

.phone-vertical {
  position: relative;
  width: 240px;
  height: 482px;
}

.phone-vertical::before {
  content: "";
  position: absolute;
  width: 240px;
  height: 482px;
  background-image: url("/assets/img/img_vertical.jpg"), url("/assets/img/phone.png"), url("/assets/img/shadow_phone.png");
  background-position: 11px 62px, top left, top left;
  background-repeat: no-repeat;
}

.phone-horizontal {
  position: relative;
  height: 240px;
  width: 482px;
  bottom: 125px;
  left: 90px;
}

.phone-horizontal__shadow {
  position: absolute;
  width: 240px;
  height: 482px;
  top: 0px;
  right: 217px;
  background-image: url("/assets/img/shadow_phone.png");
  -webkit-transform: scale(-1, 1) rotate(270deg);
          transform: scale(-1, 1) rotate(270deg);
}

.phone-horizontal__phone {
  position: absolute;
  width: 240px;
  height: 482px;
  background-image: url("/assets/img/phone.png");
  background-repeat: no-repeat;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.phone-horizontal__phone::after {
  content: "";
  position: absolute;
  width: 339px;
  height: 194px;
  top: 135px;
  right: -38px;
  background-image: url("/assets/img/img_horizontal.jpg");
  background-position: 0px 0px;
  background-repeat: no-repeat;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
/*# sourceMappingURL=singolo1.css.map */