@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap');

$color-portfolio: #2d303a;
$color-about: #f2f2f2;
$color-text: #666d89;
$color-contact: #f0d8d9;
$color-contact_section: #f06c64;
$color-input: #d6564f;
$color-footer: #2d303a;
$color-footer-text: #666d89;
$color-input-text: #f48c8f;

* {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: $color-text;
  scroll-behavior: smooth;
}

.container {
  max-width: 1020px;
  min-width: 1020px;
  margin: 0 auto;
}

.wrapper {
  width: 940px;
  margin: 0 auto;
}

.header__wrapper {
  width: 100%;
  height: 95px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  max-width: 1020px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 95px;
  z-index: 9;
  background-color: #2d303a;
  -webkit-box-shadow: 0px -6px 0px 0px #323746 inset;
  box-shadow: 0px -6px 0px 0px #323746 inset;
}

.header_nav {
  margin-top: 4px;
}

.heading {
  visibility: hidden;
  font-size: 0px;
}

.logotype {
  font-size: 25px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  margin-left: 39px;
  margin-bottom: 8px;
  letter-spacing: -0.3px;
}

.logotype--object {
  color: #f06c64;
}

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.navigation__item {
  margin-right: 15px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: -0.2px;
  & a {
    font-size: 12px;
  }
}

.navigation__link {
  color: #ffffff;
  text-decoration: none;
  &--active {
    color: $color-input;
  }
}

.navigation__item a:hover {
  color: #f06c64;
}

.navigation__item:not(:first-child)::before {
  content: '·';
  color: #494e62;
  margin-right: 12px;
  font-size: 12px;
}

.navigation__item:last-child {
  margin-right: 39px;
}

.main {
  width: 100%;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 600px;
  background-color: #f06c64;
  -webkit-box-shadow: 0px -6px 0px 0px #ea676b inset;
  box-shadow: 0px -6px 0px 0px #ea676b inset;
}

.slider__arrow-right {
  margin-right: 40px;
  margin-bottom: 10px;
}

.slider__arrow-left {
  margin-left: 42px;
  margin-bottom: 10px;
}

.arrow-left {
  width: 16px;
  height: 27px;
  background-image: url('assets/img/arrow.png');
  cursor: pointer;
}

.arrow-left:hover {
  opacity: 0.7;
}

.arrow-rigth {
  background-image: url('assets/img/arrow.png');
  width: 16px;
  height: 27px;
  -webkit-transform: scale(-1, 1);
  transform: scale(-1, 1);
  cursor: pointer;
}

.arrow-rigth:hover {
  opacity: 0.7;
}

.phone-vertical {
  position: relative;
  width: 240px;
  height: 482px;
  bottom: 6px;
  right: 7px;
}

.phone-vertical::before {
  content: '';
  position: absolute;
  width: 240px;
  height: 482px;
  background-image: url('assets/img/img_vertical.jpg'), url('assets/img/phone.png'),
    url('assets/img/shadow_phone.png');
  background-position: 11px 62px, top left, top left;
  background-repeat: no-repeat;
}

.phone-horizontal {
  position: relative;
  height: 240px;
  width: 482px;
  bottom: 127px;
  left: 101px;
}

.phone-horizontal__shadow {
  position: absolute;
  width: 240px;
  height: 482px;
  top: 0px;
  right: 216px;
  background-image: url('assets/img/shadow_phone.png');
  -webkit-transform: scale(-1, 1) rotate(270deg);
  transform: scale(-1, 1) rotate(270deg);
}

.phone-horizontal__phone {
  position: absolute;
  width: 240px;
  height: 482px;
  background-image: url('assets/img/phone.png');
  background-repeat: no-repeat;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.phone-horizontal__phone::after {
  content: '';
  position: absolute;
  width: 339px;
  height: 194px;
  top: 134px;
  right: -37px;
  background-image: url('assets/img/img_horizontal.jpg');
  background-position: 0px 0px;
  background-repeat: no-repeat;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.our-services {
  background-color: #f2f2f2;
  padding-top: 59px;
  padding-bottom: 30px;
  -webkit-box-shadow: 0px -6px 0px 0px #ffffff inset;
  box-shadow: 0px -6px 0px 0px #ffffff inset;
}

.our-services__wrapper {
  margin: 0px 30px 0px 40px;
  overflow: hidden;
}

.servises-description__heading {
  font-size: 30px;
  font-weight: 900;
  color: #666d89;
  letter-spacing: -0.1px;
}

.servises-description__text {
  font-size: 18px;
  line-height: 30px;
  margin-top: 18px;
  letter-spacing: -0.2px;
  color: #767e9e;
}

.our-services__features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  margin: 47px 40px 0px 40px;
}

.feature-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 31px;
}

.featur-item__icon {
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
}

.feature-item:nth-child(1) > .featur-item__icon {
  background-image: url('assets/img/pen.png');
}

.feature-item:nth-child(2) > .featur-item__icon {
  background-image: url('assets/img/bulb.png');
}

.feature-item:nth-child(3) > .featur-item__icon {
  background-image: url('assets/img/heart.png');
}

.feature-item:nth-child(4) > .featur-item__icon {
  background-image: url('assets/img/phone_feature.png');
}

.feature-item:nth-child(5) > .featur-item__icon {
  background-image: url('assets/img/bubble.png');
}

.feature-item:nth-child(6) > .featur-item__icon {
  background-image: url('assets/img/star.png');
}

.feature-item__text {
  width: 220px;
  margin-left: 20px;
  margin-right: 20px;
  overflow: hidden;
}

.feature-item__caption {
  font-size: 18px;
  font-weight: 900;
  color: #666d89;
  line-height: 12px;
  letter-spacing: -0.1px;
  padding-top: 1px;
}

.feature-item__description {
  font-size: 12px;
  color: #767e9e;
  margin-top: 13px;
  line-height: 22px;
}

.portfolio {
  background-color: $color-portfolio;
  color: #666d89;
  padding-bottom: 53px;
  box-shadow: 0px -6px 0px 0px #323746 inset;
}

.portfolio__heading {
  padding-top: 60px;
  font-size: 30px;
  font-weight: 700;
}

.portfolio__description {
  padding-top: 22px;
  letter-spacing: -0.2px;
}

.portfolio__tags {
  margin-top: 13px;
}
.portfolio__works {
  margin-top: 18px;
  height: 621px;
  overflow: hidden;
}

.tags {
  display: flex;
  list-style: none;
}

.tags__button {
  border: 1px solid #666d89;
  border-radius: 5px;
  font-size: 12px;
  margin-right: 12px;
  padding: 3px 5px;
  cursor: pointer;
  background-color: transparent;
  &:hover {
    border-color: #ffffff;
    color: #ffffff;
  }
}

.active {
  border-color: #ffffff;
  color: #ffffff;
}

.works {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.works__item {
  width: 220px;
  height: 187px;
  margin-bottom: 20px;
  &:nth-child(1) {
    background: url('assets/img/Project-8.png');
  }
  &:nth-child(2) {
    background: url('assets/img/Project-5.png');
  }
  &:nth-child(3) {
    background: url('assets/img/Image-6.png');
  }
  &:nth-child(4) {
    background: url('assets/img/Project.png');
  }
  &:nth-child(5) {
    background: url('assets/img/Project-7.png');
  }
  &:nth-child(6) {
    background: url('assets/img/Project-4.png');
  }
  &:nth-child(7) {
    background: url('assets/img/Image-5.png');
  }
  &:nth-child(8) {
    background: url('assets/img/Image-2.png');
  }
  &:nth-child(9) {
    background: url('assets/img/Project-6.png');
  }
  &:nth-child(10) {
    background: url('assets/img/Image-7.png');
  }
  &:nth-child(11) {
    background: url('assets/img/Project-2.png');
  }
  &:nth-child(12) {
    background: url('assets/img/Image.png');
  }
}

.about-us {
  background-color: $color-about;
  box-shadow: 0px -7px 0px 0px #ffffff inset;
}

.about-us__heading {
  padding-top: 59px;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.2px;
}

.about-us__description {
  padding-top: 20px;
  line-height: 29px;
  letter-spacing: -0.2px;
}

.about-us__team {
  margin-top: 45px;
}

.team {
  display: flex;
  justify-content: space-between;
}

.team__photo {
  width: 300px;
  height: 300px;
}

.team__item {
  width: 300px;
  &:nth-child(1) > .team__photo {
    background: url('assets/img/photo-3.png');
  }
  &:nth-child(2) > .team__photo {
    background: url('assets/img/photo-2.png');
  }
  &:nth-child(3) > .team__photo {
    background: url('assets/img/photo.png');
  }
}

.team__name {
  margin-top: 15px;
  font-size: 18px;
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
}

.team__description {
  margin-top: 8px;
  font-size: 12px;
  letter-spacing: -0.1px;
  line-height: 21px;
}

.team__contacts {
  display: flex;
  list-style: none;
  margin-top: 24px;
  margin-bottom: 74px;
}

.team__link {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 0;
  cursor: pointer;
  margin-right: 8px;
  &-fb {
    background: url('assets/img/Facebook.png');
  }
  &-google {
    background: url('assets/img/Google.png');
  }
  &-twitter {
    background: url('assets/img/Twitter.png');
  }
  &-linkedin {
    background: url('assets/img/LinkedIn.png');
  }
  &:hover {
    background-color: #ffffff;
  }
}

.contact-form {
  background-color: $color-contact_section;
  padding-top: 59px;
  padding-bottom: 53px;
  box-shadow: 0px -6px 0px 0px #ea676b inset;
}

.contact-form__heading {
  font-size: 30px;
  color: $color-contact;
}

.contact-form__description {
  margin-top: 18px;
  color: $color-contact;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -0.2px;
}

.wrapper__form {
  display: flex;
  justify-content: space-between;
  margin-top: 42px;
}
.contact-form__form {
  padding-top: 2px;
}

.form-info__title {
  font-size: 18px;
  font-weight: 700;
  color: $color-contact;
  letter-spacing: 0.1px;
}

.form-info__description {
  font-size: 12px;
  color: $color-contact;
  line-height: 22px;
  margin-top: 8px;
}

.form-info__location {
  background: url('assets/img/location.png') no-repeat;
  font-size: 12px;
  color: $color-contact;
  padding-left: 20px;
  margin-top: 25px;
  margin-left: 3px;
  line-height: 12px;
}

.form-info__tel {
  background: url('assets/img/phone_icon.png') no-repeat;
  font-size: 12px;
  color: $color-contact;
  padding-left: 22px;
  margin-top: 9px;
  margin-left: 1px;
  line-height: 12px;
}

.form-info__mail {
  background: url('assets/img/mail.png') no-repeat;
  font-size: 12px;
  color: $color-contact;
  padding-left: 23px;
  margin-top: 13px;
  margin-left: 0px;
  line-height: 8px;
}

.footer {
  background-color: #2d303a;
}

.wrapper__footer {
  display: flex;
  color: $color-footer-text;
  justify-content: space-between;
  align-items: center;
  height: 76px;
  width: 940px;
  margin: 0 auto;
}

.footer__social {
  display: flex;
  justify-content: flex-end;
}

.social__link-fb {
  display: block;
  background: url('assets/img/Facebook.png');
  width: 32px;
  height: 32px;
  &:hover {
    opacity: 0.5;
  }
}

.social__link-google {
  display: block;
  background: url('assets/img/Google.png');
  width: 32px;
  height: 32px;
  margin-left: 8px;
  &:hover {
    opacity: 0.5;
  }
}

.social__link-twitter {
  display: block;
  background: url('assets/img/Twitter.png');
  width: 32px;
  height: 32px;
  margin-left: 8px;
  &:hover {
    opacity: 0.5;
  }
}

.social__link-linkedin {
  display: block;
  background: url('assets/img/LinkedIn.png');
  width: 32px;
  height: 32px;
  margin-left: 8px;
  &:hover {
    opacity: 0.5;
  }
}

.input_field {
  width: 619px;
  height: 38px;
  border: 0;
  border-radius: 5px;
  background-color: $color-input;
  font-size: 12px;
  color: $color-input-text;
  padding-left: 15px;
  padding-bottom: 2px;
  &::placeholder {
    color: $color-input-text;
  }
}

.textarea_field {
  width: 619px;
  height: 202px;
  border: 0;
  border-radius: 5px;
  background-color: $color-input;
  font-size: 12px;
  color: $color-input-text;
  padding-left: 15px;
  padding-top: 10px;
  resize: none;
  &::placeholder {
    color: $color-input-text;
  }
}
.contact-form__input {
  margin-bottom: 16px;
}

.contact-form__info {
  width: 300px;
  position: relative;
}

.footer__copyright {
  width: 50%;
  font-size: 12px;
  line-height: 12px;
  margin-left: 1px;
}

.footer__contacts {
  width: 50%;
}

.fotter__links {
  display: block;
}

.button_submit {
  position: absolute;
  bottom: 19px;
  border: 0;
  border-radius: 5px;
  height: 38px;
  width: 100px;
  font-weight: bold;
  background-color: $color-input;
  font-size: 14px;
  color: $color-input-text;
}

.form-info__link {
  font-size: 12px;
  color: $color-contact;
  text-decoration: none;
  &:hover {
    color: #ffffff;
  }
}

/*# sourceMappingURL=singolo1.css.map */
